* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  header {
    justify-content: space-between;
    display: flex; 
    flex-direction: row;
    background: navy;
    color: #fff;
  }
main{
  display: flex;
  flex-direction: column;
}
section{
  display: flex;
  flex-wrap: wrap;
}
.column-left{
  text-align: right;
  border-right: 5px solid gold ;
  /*float:left;*/
  width:25%;
  padding: 2%;
}
.column-right{
  /*float:left;*/
  width: 75%;
  padding: 2%;
  align-items: stretch;
}

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
}

.nav-contact{
  flex: content;
  margin: 10%;
}
#contact{
  flex: 10%;
}